@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as variables;

$medium-content-width: 1440px;
$medium-inline-margin: 48px;

.header {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid variables.$primaryColor;

  @include mixins.medium {
    .primaryHeading {
      width: $medium-content-width;
      margin-inline: $medium-inline-margin;
    }
  }
}

.primaryHeading {
  text-transform: uppercase;
}

.main {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-block: 32px;

  & > * {
    margin-inline: 8px;

    @include mixins.medium {
      max-width: $medium-content-width;
      margin-inline: $medium-inline-margin;
    }
  }
}

.mainHeading {
  font-size: 3em;
  line-height: 1em;

  @include mixins.medium {
    font-size: 5rem;
  }
}

.mainSubheading {
  font-size: 1em;
  margin-block-start: 32px;

  @include mixins.medium {
    font-size: 2em;
  }
}

.mainCTA {
  margin-block-start: 16px;

  @include mixins.medium {
    margin-block-start: 32px;
  }
}

.footer {
  height: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid variables.$primaryColor;
}

.dialog {
  width: 512px;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  padding: 64px 32px;
  width: 100%;

  button {
    margin-top: 48px;
  }
}

.dialogHeading {
  text-align: center;
  padding-block-end: 16px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    border-block-start: 1px solid variables.$primaryColor;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 48px;
  }
}

.dialogSuccessContent {
  display: flex;
  flex-direction: column;
  margin-block-start: 48px;
  text-align: center;
}

.dialogSuccessMessage {
  max-width: 340px;
  margin-inline: auto;
}

.inviteForm {
  display: flex;
  flex-direction: column;
  margin-block-start: 48px;

  input {
    font-size: 16px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid grey;

    &:not(:first-of-type) {
      margin-block-start: 16px;
    }

    &:focus-visible {
      outline-color: variables.$accent;
    }
  }

  *[role='alert'] {
    color: crimson;

    &[aria-label='Form submission error'] {
      margin-block-start: 16px;
      text-align: center;
    }
  }
}
